* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

body {
    background: var(--color-background);
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
}

button, a {
    cursor: pointer;
    background: transparent;
    border: none;
}

input,
select,
textarea {
    background: transparent;
    border: none;
}

img {
    max-width: 100%;
}